<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Investment Compass</title>
    <link rel="stylesheet" href="../static/styles/index.css">

</head>

<body>
    <div class="container">
        <h1 style="font-family: serif;">Investment Compass</h1>
        <h3>Navigate Market Trends with Confidence</h3>
        <form action="{{ url_for('predict') }}" method="post">
            <label for="open">Opening Value</label>
            <input type="number" placeholder="Enter the opening value of the stock" name="open">
            <label for="close">Closing Value</label>
            <input type="number" placeholder="Enter the closing value of the stock" name="close">
            <label for="high">Highest Trading Value</label>
            <input type="number" placeholder="Enter the Highest trading value of the stock" name="high">
            <label for="low">Lowest Trading Value</label>
            <input type="number" placeholder="Enter the Lowest trading value of the stock" name="low">
            <input type="submit" value="Get Prediction">
        </form>
        {% if prediction == 1 %}
        <h2>This is Bullish Stock!!</h2>
        {% elif prediction == -1 %}
        <h2>Stock is Bearish</h2>
        {% endif %}
    </div>
</body>

</html>
